NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_ALLOWED_EMAILS=your@email.com
NEXT_PUBLIC_SITE_URL=http://100.68.88.63:3100
MINECRAFT_ROOT=/minecraft-server
TAILSCALE_BIND_IP=100.68.88.63
