NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_ALLOWED_EMAILS=your@email.com
NEXT_PUBLIC_SITE_URL=http://<TAILSCALE_IP>:3100
MINECRAFT_ROOT=/minecraft-server
TAILSCALE_BIND_IP=<TAILSCALE_IP>
HOST_MINECRAFT_ROOT=<HOST_MINECRAFT_ROOT>
